@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #E7E7E7;
    --accent: #008A85;
    --darkAccent: #146C68;
    --selectAccent: #053b39;
}

#root {
    height: 95vh;
}

#fixtureTable {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    overflow: hidden;
}

.fixtureRound {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#fixtureInfo {
    position: absolute;
    left: 60%;
    width: 40%;
    margin-right: 0;
}

#categoryLabel {
    margin: 0;
}

#tournamentName {
    font-family: "Rambla", sans-serif;
    color: var(--accent);
    font-size: 3em;
    margin: 0;
}