@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #E7E7E7;
    --accent: #008A85;
    --darkAccent: #146C68;
    --selectAccent: #053b39;
}